
       
        td button{
            width:70px;
            height: 35px;
            border-radius: 10px;
        }
        td colspan-2{
            background-color: rgb(83, 79, 79);
        }
        
      